# TP NoSQL

Prénom : Patrick

Nom : CHEN

Pour ce TP noté vous avez à trois heures pour le réaliser et 48 heures pour le finir si besoin. Le rendu final est attendu pour dimanche 29 septembre 2024 à 23 h 59.

Vous serrez évalués sur les requêtes mais également sur la qualité et la propreté du code. Pour chaque question, une réponse présentant les résultats est attendue.

In [8]:
# installation des packages pandas et pymongo
!pip install -r requirements.txt --quiet

In [3]:
import pymongo
import pandas as pd

URI = "mongodb+srv://mongo_user:USdkDZm0lZlLkxpe@cluster-but-sd.hpg62.mongodb.net/?retryWrites=true&w=majority&appName=cluster-but-sd"
client = pymongo.MongoClient(URI)
db = client.tp

# output the name of the collections in the database
print("Collections: ", db.list_collection_names())

Collections:  ['restaurants', 'airbnb']

1. Combien de logements sont la base de données ?

In [3]:
print(db.airbnb.count_documents({})) # 5555 logements recensés dans la base de données

5555

2. Quel est le prix moyen par ville ? Trier les villes par prix décroissant.

In [47]:
question2 = db.airbnb.aggregate([
     { "$group": { "_id": "$address.market", "avg_price" : {"$avg": "$price"}}},
     { "$sort": { "avg_price": -1 }}
 ])
print(pd.DataFrame(list(question2)))

''' Exemple : On peut voir que Hong Kong est la ville avec le prix le plus haut, 762.47 en prix moyen'''

                      _id                            avg_price
0               Hong Kong  762.4781906300484652665589660743134
1          Rio De Janeiro  525.8059701492537313432835820895522
2   Other (International)                               445.75
3                Istanbul  367.9454545454545454545454545454545
4                   Kauai  288.8208955223880597014925373134328
5                    Maui  286.5882352941176470588235294117647
6                    Oahu  212.2964426877470355731225296442688
7                  Sydney  197.7142857142857142857142857142857
8          The Big Island  179.4604316546762589928057553956835
9                New York  139.6260296540362438220757825370675
10       Other (Domestic)                               128.00
11                                                      115.50
12              Barcelona  100.9477848101265822784810126582278
13               Montreal  100.2330246913580246913580246913580
14                  Porto  69.12815884476534296028880866425993

3. Afficher la liste de tous les différents équipements qui existent.

In [49]:
print(db.airbnb.distinct(key = "amenities"))
''' Exemple : parmis les equipements qui existent nous retrouvons : pool, Accessible-height bed, Air purifier, Cable TV,etc'''

['', '24-hour check-in', 'Accessible-height bed', 'Accessible-height toilet', 'Air conditioning', 'Air purifier', 'Alfresco shower', 'BBQ grill', 'Baby bath', 'Baby monitor', 'Babysitter recommendations', 'Balcony', 'Bath towel', 'Bathroom essentials', 'Bathtub', 'Bathtub with bath chair', 'Beach chairs', 'Beach essentials', 'Beach view', 'Beachfront', 'Bed linens', 'Bedroom comforts', 'Bicycle', 'Bidet', 'Body soap', 'Boogie boards', 'Breakfast', 'Breakfast bar', 'Breakfast table', 'Building staff', 'Buzzer/wireless intercom', 'Cable TV', 'Carbon monoxide detector', 'Cat(s)', 'Ceiling fan', 'Central air conditioning', 'Changing table', "Chef's kitchen", 'Children’s books and toys', 'Children’s dinnerware', 'Cleaning before checkout', 'Coffee maker', 'Convection oven', 'Cooking basics', 'Crib', 'DVD player', 'Day bed', 'Dining area', 'Disabled parking spot', 'Dishes and silverware', 'Dishwasher', 'Dog(s)', 'Doorman', 'Double oven', 'Dryer', 'EV charger', 'Electric profiling bed', 'Elevator', 'En suite bathroom', 'Espresso machine', 'Essentials', 'Ethernet connection', 'Extra pillows and blankets', 'Family/kid friendly', 'Fax machine', 'Fire extinguisher', 'Fireplace guards', 'Firm mattress', 'First aid kit', 'Fixed grab bars for shower', 'Fixed grab bars for toilet', 'Flat path to front door', 'Formal dining area', 'Free parking on premises', 'Free street parking', 'Full kitchen', 'Game console', 'Garden or backyard', 'Gas oven', 'Ground floor access', 'Gym', 'Hair dryer', 'Handheld shower head', 'Hangers', 'Heated towel rack', 'Heating', 'High chair', 'Home theater', 'Host greets you', 'Hot tub', 'Hot water', 'Hot water kettle', 'Ice Machine', 'Indoor fireplace', 'Internet', 'Iron', 'Ironing Board', 'Kayak', 'Keypad', 'Kitchen', 'Kitchenette', 'Lake access', 'Laptop friendly workspace', 'Lock on bedroom door', 'Lockbox', 'Long term stays allowed', 'Luggage dropoff allowed', 'Memory foam mattress', 'Microwave', 'Mini fridge', 'Mountain view', 'Murphy bed', 'Netflix', 'Other', 'Other pet(s)', 'Outdoor parking', 'Outdoor seating', 'Outlet covers', 'Oven', 'Pack ’n Play/travel crib', 'Paid parking off premises', 'Paid parking on premises', 'Parking', 'Patio or balcony', 'Permit parking', 'Pets allowed', 'Pets live on this property', 'Pillow-top mattress', 'Pocket wifi', 'Pool', 'Pool with pool hoist', 'Private bathroom', 'Private entrance', 'Private hot tub', 'Private living room', 'Private pool', 'Rain shower', 'Refrigerator', 'Roll-in shower', 'Room-darkening shades', 'Safe', 'Safety card', 'Sauna', 'Self check-in', 'Shampoo', 'Shared pool', 'Shower chair', 'Single level home', 'Ski-in/Ski-out', 'Smart TV', 'Smart lock', 'Smoke detector', 'Smoking allowed', 'Snorkeling equipment', 'Sonos sound system', 'Sound system', 'Stair gates', 'Standing valet', 'Step-free access', 'Stove', 'Suitable for events', 'Sun loungers', 'Swimming pool', 'TV', 'Table corner guards', 'Tennis court', 'Terrace', 'Toaster', 'Toilet paper', 'Walk-in shower', 'Warming drawer', 'Washer', 'Washer / Dryer', 'Waterfront', 'Well-lit path to entrance', 'Wheelchair accessible', 'Wide clearance to bed', 'Wide clearance to shower', 'Wide doorway', 'Wide entryway', 'Wide hallway clearance', 'Wifi', 'Window guards', 'toilet', 'translation missing: en.hosting_amenity_49', 'translation missing: en.hosting_amenity_50']

4. Combien de propriétés incluent le Wifi dans les équipements ?

In [51]:
print(db.airbnb.count_documents({ "amenities": "Wifi" }))
''' Parmi les 5555 logements de la base de données, 5303 proposent la Wifi en equipement'''

5303

5. Afficher le nom de tous les logements ainsi que le nombre de chambres et de lits qu'ils contiennent (ne pas afficher l'ID)

In [75]:
question5 = db.airbnb.find({},{"_id":0, "name":1, "bedrooms":1, "beds":1})
print(pd.DataFrame(list(question5)))
'''Exmple : On voit que
ligne 0 : Apt Linda Vista Lagoa - Rio  a 1.0 chambre(s) et 1.0 lit(s),
ligne 1 : Ótimo Apto proximo Parque Olimpico a 2.0 chambre(s) et 2.0 lit(s),
etc'''

                                                  name  bedrooms  beds
0                          Apt Linda Vista Lagoa - Rio       1.0   1.0
1                   Ótimo Apto proximo Parque Olimpico       2.0   2.0
2                       Modern Spacious 1 Bedroom Loft       1.0   2.0
3     Ligne verte - à 15 min de métro du centre ville.       0.0   1.0
4                              Ribeira Charming Duplex       3.0   5.0
...                                                ...       ...   ...
5550     Estudio en el casco antiguo. Alquiler mensual       0.0   3.0
5551  Qto Aconchegante no em frente ao Parque Olímpico       1.0   1.0
5552                  StayIN Oporto Música - Apartment       8.0   8.0
5553                                      Quarto Legal       1.0   1.0
5554                                                         1.0   1.0

[5555 rows x 3 columns]

6. Afficher le nom et le prix des logements situés à Porto.

In [91]:
question5 = db.airbnb.find({"address.market" : "Porto"},{"_id":0, "name":1, "price":1})
print(pd.DataFrame(list(question5)))
'''Exemple : On trouve par exemple
ligne 0 : le airbnb Ribeira Charming Duplex avec un prix a 80.00
ligne 1 : le airbnb Be Happy in Porto avec un prix a 30.00'''

                                    name   price
0                Ribeira Charming Duplex   80.00
1                      Be Happy in Porto   30.00
2    Downtown Oporto Inn (room cleaning)   40.00
3                         FloresRooms 3T   31.00
4     A Casa Alegre é um apartamento T1.   40.00
..                                   ...     ...
549         Number283 - Your home abroad   48.00
550        Cozy apartment downtown Porto   58.00
551                   Soares Guest House   90.00
552   Central, Modern, University, Metro   41.00
553     StayIN Oporto Música - Apartment  500.00

[554 rows x 2 columns]

7. Quels sont les 5 hôtes les plus populaires (ceux dont les propriétés ont reçu le plus de commentaires) ?

In [235]:
question7 = db.airbnb.aggregate([
    {"$unwind": "$reviews"},
    { "$group": { "_id" : "$name" ,"reviews": { "$sum": 1 } } },
    { "$sort": { "reviews": -1 }},
    { "$limit": 5 }
])
   
print(pd.DataFrame(list(question7)))
'''Exemple : On peut voir que
rivate Studio - Waikiki Dream a 533 reviews,
Near Airport private room, 2 bedroom granny fl... a 469 reviews
ou encore La Sagrada Familia (and metro) 4 blocks! à 463 reviews, etc
'''

                                                 _id  reviews
0                    #Private Studio - Waikiki Dream      533
1  Near Airport private room, 2 bedroom granny fl...      469
2           La Sagrada Familia (and metro) 4 blocks!      463
3                PRIVATE Room in Spacious, Quiet Apt      420
4                      traditional and Charming room      408

8. Quelles sont les 6 villes ayant le plus de logements disponibles à la location ?

In [179]:
question8 = db.airbnb.aggregate([
    { "$sortByCount": "$address.market" },
    { "$limit": 6 }
])
pd.DataFrame(list(question8))
'''On trouve en tête du classement Istanbul avec 660 logements, Montreal avec 648, Barcelona avec 632, etc'''

         _id  count
0   Istanbul    660
1   Montreal    648
2  Barcelona    632
3  Hong Kong    619
4     Sydney    609
5   New York    607

9. Combien de propriétés acceptent plus de 4 invités et ont une caution de moins de 300€ ?

In [251]:
question9 = db.airbnb.aggregate([
    { "$match": { "accommodates": { "$gt": 4 }, "security_deposit": { "$lt": 300 } } },
    { "$project": {
        "name":1,
        "security_deposit":1,
        "accommodates":1
    }}
])
print(pd.DataFrame(list(question9)))
'''Exemple : 
Ribeira Charming Duplex accepte plus de 4 personnes et a une caution de moins de 300, pareil pour Catete's Colonial Big Hause Room B,
Kailua-Kona, Kona Coast II 2b condo, etc
'''

          _id                                               name  \
0    10006546                            Ribeira Charming Duplex
1    10051164                 Catete's Colonial Big Hause Room B
2     1022200                Kailua-Kona, Kona Coast II 2b condo
3    10133350                          2 bedroom Upper east side
4    10166883   Large railroad style 3 bedroom apt in Manhattan!
..        ...                                                ...
446   9567840                  Large Comfortable CBD Convenience
447   9990304     March Madness Special! Aina Nalu Platinum D107
448   9372696               Economy Family Room for 4-5pax (306)
449   9612902  1921 15kms from Sydney CBD with Pool Spa parking.
450   9917859                   StayIN Oporto Música - Apartment

     accommodates security_deposit
0               8           200.00
1               8             0.00
2               6           200.00
3               5             0.00
4               9           199.00
..            ...              ...
446             6             0.00
447             6           200.00
448             5             0.00
449             9             0.00
450            16           200.00

[451 rows x 4 columns]

"Exemple : \nRibeira Charming Duplex accepte plus de 4 personnes et a une caution de moins de 300, pareil pour Catete's Colonial Big Hause Room B,\nKailua-Kona, Kona Coast II 2b condo, etc\n"

10. Donner les 20 utilisateurs qui ont fait le plus de commentaires (afficher seulement l'ID et le nom de l'utilisateur).

In [274]:
question10 = db.airbnb.aggregate([
    {"$unwind": "$reviews"},
    {"$group" : {"_id" : "$reviews.reviewer_id", "nom" : {"$first": "$reviews.reviewer_name"}, "com" :{"$sum" :1 }}},
    {"$sort" :{ "com" : -1}},
    {"$limit" : 20}
])
pd.DataFrame(list(question10))
''' Parmis ceux qui commentent le plus, on voit que Filipe est premier, suivi de Nick, de Uge, Thien, etc
'''

          _id       nom  com
0    20775242    Filipe   24
1    67084875      Nick   13
2     2961855       Uge   10
3   162027327     Thien    9
4    20991911      Lisa    9
5     1705870     David    8
6    60816198      Todd    8
7    12679057      Jodi    8
8    55241576  Courtney    8
9    69140895      Lisa    8
10   78093968     David    7
11   47303133     Lance    7
12   57325457      Mary    6
13   24667379     Karen    6
14   86665925     Chris    6
15   25715809     Megan    6
16   73708321   Gonzalo    6
17  128210181   Branden    6
18   61469899      Erik    6
19   34005800       Dan    6

11. Parmi les logements à Sydney, quel est la note moyenne des visiteurs ?

In [276]:
question11 = db.airbnb.aggregate([
    { "$match": { "address.market": "Sydney" }},
    {"$group":{"_id": "$address.market" ,"score": { "$avg": "$review_scores.review_scores_rating"} }}
 ])
pd.DataFrame(list(question11))
'''Sydney a une note moyenne des visiteurs a 93.45
'''

      _id     score
0  Sydney  93.45567

12. (bonus) Afficher les logements qui contiennent le mot "park" dans leur nom

In [5]:
question12 = db.airbnb.find({"name": {"$regex" : "park", "$options" : 'm'}},
            {"_id": 0, "name": 1} )

pd.DataFrame(list(question12))
''' On trouve parmis les airbnb comportant "park" : Triple room Barcelona Guell park, Studio convenient to CBD, beaches, street park...,
Lachine room+Free parking+Airport, VERY LARGE 5 Bedroom Home, free onsite parking, etc
'''

                                                 name
0                    Triple room Barcelona Guell park
1   Studio convenient to CBD, beaches, street park...
2                   Lachine room+Free parking+Airport
3                Apartment in the centre with parking
4      VERY LARGE 5 Bedroom Home, free onsite parking
5          TPC - Flying Leaves Balcony (free parking)
6   Bright,cozy,quiet,walking distance metro,park ...
7                   Apartment located near Guell park
8    Private Studio closed to town w/ compact parking
9   Huge kid-friendly Brooklyn home with parking/p...
10                     Amazing view Apt@ Olympic park
11              Luxury condo with free indoor parking
12  Bright & spacious 2 bed near Molson Park w/par...
13        Newly renovated cosy apartment with parking
14  Clean, bright & cozy bedroom /w convenient par...
15  Best location downtown + free parking - Esperanza
16          Palacio Garden's Apartment (Free parking)
17   Close to park and sea: Light and airy family apt
18             Charming apartment facing Laurier park
19            Manly Haven- Best Location with carpark
20      MILE-END ☀️Near MONTROYAL park☀️ FREE PARKING
21    7 guests at ville St-Laurent, with parking spot
22  Your place for Sea, Cellars & Porto! (parking ...
23                 Repos de Ouro  Street of city park
24  Terrace- park view, great location, quiet street.
25     Free parking free laundry at Dabin's Cozy Home
26        Maison de ville parking et à 2 pas du métro
27                 Homa 2 - 1 BR sleep 4 parking - AC
28   Amazing location, room for 3, w. private parking
29   Super bright apartment in quiet area facing park
30              Lovely apartment with private parking
31  Renovated sunny 3 Bedroom apartment - easy par...
32    Quiet spacious 1 bedroom apartment with parking
33     Penthouse Downtown with private indoor parking
34                 A Antiga Adega (parking available)
35    Luxury 2 bed 2 bath 1 parking in Allure Waikiki
36  Freshly renovated-3 bedroom-heart of MTL-parki...
37    Quiet house with parking near downtown Montreal
38      Lux 2 bedroom/2 bath/2 balconies/free parking
39                          2 Bedroom -guest parking.
40                     Lovely home with parking spot!
41            2 bedroom + 1 sofa, free car park place
42                4BR family home nr beaches and park
43       4 bedroom home W/diamond head view w/parking
44  Sydney Studio in Glebe Close to CBD. SparklinC...
45  1921 15kms from Sydney CBD with Pool Spa parking.
46                  Big 2bdm, Views, WIFI and carpark

13. (bonus) Afficher le nom des logements ayant une lattitude comprise entre 36,1 et 40,6 dont le prix est entre 100 et 200 euros.

In [7]:
question13 = db.airbnb.aggregate([
     { "$match": { 
        "address.location.coordinates.1": { "$gte": 36.1, "$lte": 40.6 },
        "price": { "$gte": 100, "$lte": 200 }
    }},
    { "$project": { "nom_du_logement": "$name", "_id": 0,}}
    
])
pd.DataFrame(list(question13))
''' Parmi les logements ayant une lattitude comprise entre 36,1 et 40,6 dont le prix est entre 100 et 200 euros, on trouve :
Cozy Comfy Suite of Rockaway Beach, Coney Island MCU Park Wi fi Cable Apt****, Sheepshead Bay, 1-bdr apartment. Close to all!.
'''

                                  nom_du_logement
0              Cozy Comfy Suite of Rockaway Beach
1       Coney Island MCU Park Wi fi Cable Apt****
2  Sheepshead Bay, 1-bdr apartment. Close to all!